# Node
node_modules/
package-lock.json


# Expo
.expo/
.expo-shared/

# macOS
.DS_Store

# Android / iOS
android/
ios/
*.keystore

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# Env and credentials
.env
.env.*

# Build outputs
dist/
build/
web-build/
*.tar.gz

# Misc
coverage/


# Android Studio / IntelliJ
.idea/
*.iml
